<div class="container-body">
    <div class="container">
        <div>
            <span>{{itemOfParent.shefaseba}}</span>{{itemOfParent.stars}}
        </div>
        <div>
            <span>{{itemOfParent.saxeli}}</span>{{itemOfParent.name}}
        </div>
        <div>
            <span>{{itemOfParent.dro}}</span>{{itemOfParent.date}}
        </div>
        <div>
            <span>{{itemOfParent.aghwera}}</span>{{itemOfParent.declr}}
        </div>
        <div>
            <span>{{itemOfParent.kategoria}}</span>{{itemOfParent.category}}
        </div>
        <button class="btn" (click)="sendItem()">gaige meti</button>
    </div>
</div>