.container-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    display: flex;
    border: 1px solid orange;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: red;
    margin-top: 100px;
    border: 1px solid orange;
    padding: 20px;
}
.btn {
    margin-top: 15px;
}
span {
    color: green;
}