<div class="card-container">
    <div class="card-main">
        <div class="image"><img src="../../assets/img/pizza.png"></div>
        <div class="taitli">
            <div class="taitli1">Pepperoni Pizza</div>
            <img id="icon-one" src="../../assets/img/Ellipse1.svg" alt="">
            <img id="icon-two" src="../../assets/img/Ellipse.svg" alt="">
        </div>
        <div class="inside">
            <p>Premium pepperoni and cheese is made with real mozzarella on original <br> hand-tossed crust.</p>
        </div>
        <div class="foot">265 Cal</div>
        <div class="foot1">P/F/C: 12/10/31</div>
        <div class="foot2">53.8 °C</div>
        <div class="last1">$23.90</div>
        <div class="last2">$29.90</div>
        <div class="last3">
            <button>ORDER</button>
        </div>
    </div>

    <div class="card-main">
        <div class="image"><img src="../../assets/img/tor.png"></div>
        <div class="taitli">
            <div class="taitli1">Tortellini</div>
            <img id="icon-zero" src="../../assets/img/Ellipsekkk.png" alt="">
            <img id="icon-one" src="../../assets/img/Ellipse1.svg" alt="">
            <img id="icon-two" src="../../assets/img/Ellipse.svg" alt="">
        </div>
        <div class="inside">
            <p>Pasta stuffed with beef and pork topped with your choice of cream sauce with bacon, bolognese or marinara sauce.</p>
        </div>
        <div class="foot">270 Cal</div>
        <div class="foot1">P/F/C: 18/4/41</div>
        <div class="foot2">42.4 °C</div>
        <div class="last1">$17.90</div>
        <div class="last2">$22.90</div>
        <div class="last3">
            <button>ORDER</button>
        </div>
    </div>



    <div class="card-main">
        <div class="image"><img src="../../assets/img/Strawberry cake Photo.png"></div>
        <div class="taitli">
            <div class="taitli1">Strawberry Cake</div>
            <img id="icon-two" src="../../assets/img/Ellipse.svg" alt="">
        </div>
        <div class="inside">
            <p>Three layer strawberry dessert is not only beautiful looking, but also delicious! Perfect dessert for spring and summer.</p>
        </div>
        <div class="foot">346 Cal</div>
        <div class="foot1">P/F/C: 6/14/49</div>
        <div class="foot2">13.9 °C</div>
        <div class="last1">$13.90</div>
        <div class="last2">$18.90</div>
        <div class="last3">
            <button>ORDER</button>
        </div>
    </div>
</div>